<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050644401027-c3pev0nr2r3ngcmuil9d1sdretq48j1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050644401027-c3pev0nr2r3ngcmuil9d1sdretq48j1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDg2uT1EJWVtsspEc9JP6mNbzwwGlgpx-g</string>
	<key>GCM_SENDER_ID</key>
	<string>1050644401027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.name</string>
	<key>PROJECT_ID</key>
	<string>lubase-c57c5</string>
	<key>STORAGE_BUCKET</key>
	<string>lubase-c57c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050644401027:ios:e3bc858c18f09f73b4c4b6</string>
</dict>
</plist>